<%- include('partials/head') %>

<body>
   <%- include('partials/navbar') %>
   <% if (name === 'Soccer') { %>
   <header class="h1 text-center bg-success text-white display-1 py-5 my-0 mb-0"
      style="background: url('/images/soccer-banner.png') no-repeat center center/cover;">

      <h1 class="display-2">/r/soccer </h1>
      <% } else if (name === 'Chickens'){%>
      <header class="h1 text-center bg-danger text-white display-1 py-5 pt-5 pb-5"
         style="background: url('/images/chickens-banner.png') no-repeat center center/cover;">

         <h1 class="display-2">/r/chickens</h1>
         <% } else if (name === 'Mighty Harvest'){%>
         <header class="h1 text-center bg-primary text-white display-1 py-5 "
            style="background: url('/images/mh-banner.png') no-repeat center center/cover;">

            <h1 class="display-2">/r/MIGHTYHARVEST</h1>
            <% } else {%>
            <header class="h1 text-center bg-light text-white display-1 py-5 ">

               <h1 class="display-2">/r/name</h1>
               <% } %>
            </header>
            <div class="container-fluid pb-5">

               <div class="row">
                  <div class="col-xl-9 col-l-8 col-md-9 col-sm-6 pt-5">
                     <% for (let post of posts){ %>
                     <article class=" py-3">
                        <p class="lead"><%=post.title %> </p>
                        <p class="blockquote-footer"> submitted by <span class="text-primary"><b
                                 class=""></b><%= post.author %></b></span></p>
                        <% if (post.img){ %>
                        <img src="<%= post.img %> " alt="" class="img-post img-fluid  rounded" />

                        <% } %>
                        <hr class="text-secondary mt-5">
                     </article>
                     <% } %>
                  </div>
                  <div class="col-xl-3 col-l-4 col-md-3 col-sm-6 bg-alice text-lg-center text-sm-center">
                     <p class="py-2 pt-6 display-3 side-header text-center text-lg-left"> Welcome to <%= name %>
                        subreddit</p>
                     <p class=" py-2 lead text-center text-lg-left"><%= description %></p>
                     <div class="text-center">
                        <img src="/images/reddit-prem.png" alt="show " class="  img-fluid text-center">
                     </div>
                     <div class="card text-center mt-5">
                        <div class="card-header bg-success">
                           <button class="btn btn text-white-50">Join</button>
                        </div>
                        <div class="card-body">
                           <h5 class="card-title"><%= subscribers%> Total subscribers</p>
                           </h5>
                        </div>
                        <div class="card-footer text-muted">
                           <p class="card-text"><%= random2 %> users here now</p>
                        </div>
                     </div>
                     <div class="text-left py-lg-5 py-3">
                        <p class="h4 pt-lg-5 pt-2">Rules:</p>
                        <ol class="list-group list-group-numbered bg-secondary">

                           <% for (let rule of rules){ %>
                           <li class="list-group-item"><%= rule%></li>

                           <% } %>
                        </ol>
                        <div class="text-left py-lg-5 py-3">
                           <p class="h4 pt-lg-5 pt-2">Moderators:</p>
                           <ul class="list-group">

                              <% for (let moderator of moderators){ %>
                              <li class="list-group-item"><%= moderator%></li>

                              <% } %>
                           </ul>
                        </div>
                     </div>

                  </div>



                  <hr />

               </div>
               <%- include('partials/footer') %>
</body>

</html>